//THIS IS THE STYLING FOR DEVICE WITH WIDTH 320PX TILL 480PX

@media only screen and (min-width:320px) and (max-width:480px){

    .carticon{
        .cicon{
            width:68%;
            margin: -1rem 0 0 5%;
            height:3.2rem;
            
            
        }
        .counter{
            background:rgb(3, 163, 238);
            font-size:0.75rem;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            border-radius:50%;
            position:absolute;
            width:4%;
            height:1.1rem;
            text-align:center;
            font-weight:bold;
            color:white;
            border:0.2rem solid rgb(3, 163, 238);
            top:2.5rem;
        }
    
       } 
}

//THIS IS THE STYLING FOR DEVICE WITH WIDTH 481PX TILL 599PX

@media only screen and (min-width:481px) and (max-width:599px){

    .carticon{
        .cicon{
            width:55%;
            margin: -0.7rem 0 0 5%;
            height:3.2rem;
            
            
        }
        .counter{
            background:rgb(3, 163, 238);
            font-size:0.8rem;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            border-radius:50%;
            position:absolute;
            width:3%;
            height:1.1rem;
            text-align:center;
            font-weight:bold;
            color:white;
            border:0.2rem solid rgb(3, 163, 238);
        }
    
       } 


}

//THIS IS THE STYLING FOR DEVICE WITH WIDTH 600PX TILL 768PX

@media only screen and (min-width:600px) and (max-width:768px){

    .carticon{
        .cicon{
            width:57%;
            margin: -0.2rem 0 0 10%;
            height:3.2rem;
            
            
        }
        .counter{
            background:rgb(3, 163, 238);
            font-size:0.8rem;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            border-radius:50%;
            position:absolute;
            width:2.5%;
            height:1.1rem;
            text-align:center;
            font-weight:bold;
            color:white;
            border:0.2rem solid rgb(3, 163, 238);
        }
    
       } 
}
//THIS IS THE STYLING FOR DEVICE WITH WIDTH 769PX TILL 1024PX

@media only screen and (min-width:769px) and (max-width:1024px){

    .carticon{
        .cicon{
            width:8%;
            margin:0.5rem 0 0 75%;
            
        }
        .counter{
            background:rgb(3, 163, 238);
            font-size:0.8rem;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            border-radius:50%;
            position:absolute;
            width:1.4%;
            height:1.1rem;
            text-align:center;
            font-weight:bold;
            color:white;
            border:0.2rem solid rgb(3, 163, 238);
        }
    
       } 

}
//THIS IS THE STYLING FOR DEVICE WITH WIDTH 1025PX TILL 1200PX

@media only screen and (min-width:1025px) and (max-width:1200px){

    .carticon{
        .cicon{
            width:8%;
            margin:0.5rem 0 0 75%;
            
        }
        .counter{
            background:rgb(3, 163, 238);
            font-size:0.8rem;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            border-radius:50%;
            position:absolute;
            width:1.4%;
            height:1.2rem;
            text-align:center;
            font-weight:bold;
            color:white;
            border:0.2rem solid rgb(3, 163, 238);
        }
    
       } 

}
//THIS IS THE STYLING FOR DEVICE WITH WIDTH 1201PX TILL ....
@media only screen and (min-width:1201px){
   .carticon{
    .cicon{
        width:8%;
        margin:0.5rem 0 0 70%;
        
    }
    .counter{
        background:rgb(3, 163, 238);
        font-size:0.8rem;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-radius:50%;
        position:absolute;
        width:1.4%;
        height:1.2rem;
        text-align:center;
        font-weight:bold;
        color:white;
        border:0.2rem solid rgb(3, 163, 238);
    }

   } 

}